body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("back.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  font-family: "Amatic SC", sans-serif, cursive;
  user-select: none;
}

* {
  box-sizing: border-box;
}

#container {
  width: 300px;
  height: 80%;
  margin: 50px auto;
  background-color: rgba(102, 104, 105, 0.3);
  box-shadow: 0 0 3px #fff;
  border-radius: 15px;
}

#container h1 {
  color: #fff;
  text-align: center;
  padding-top: 3px;
  font-size: 2.8rem;
  font-weight: 800;
}

.playGame {
  display: none;
  margin-top: -15px;
  animation-duration: 0.4s;
  animation-name: slidein;
}

#container h2 {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 2px;
  height: 7px;
}

#game {
  width: 250px;
  height: 250px;
  margin: 10px auto;
  background-color: rgba(138, 134, 134, 0.6);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  border: 2px solid rgba(138, 134, 134, 0.6);
}

.child {
  background-color: rgba(223, 223, 231, 0.6);
  height: 100%;
  width: 100%;
  font-size: 28px;
  text-align: center;
  font-weight: 800;
  color: rgba(51, 42, 42, 0.6);
  font-family: sans-serif;
}

.start {
  padding-top: 50px;
  height: 300px;
  animation-duration: 0.4s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.player-info {
  width: 100px;
  height: 50px;
  color: #fff;
  position: relative;
  top: 10px;
  display: flex;
}

.player-name {
  text-align: center;
  padding-left: 10px;
  padding-right: 2px;
  font-size: 20px;
}

#player1-info {
  float: left;
  display: none;
}

#player2-info {
  float: right;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
  display: none;
}

.players {
  display: none;
  text-align: center;
  padding: 5px;
  height: 260px;
  position: relative;
  top: 50px;
  margin: auto;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.player-select {
  height: 50px;
  margin-bottom: -2px;
  margin-top: 15px;
  padding: 5px;
}

select {
  width: 40px;
  height: 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  color: #fff;
}

select option {
  color: #424242;
}

.players p {
  height: 2px;
  font-size: 22px;
  color: #f0eeee;
  font-weight: 800;
}

#play-game {
  width: 100px;
  height: 30px;
  margin-top: 30px;
}

.players input {
  background-color: transparent;
  width: 140px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  margin-top: 8px;
  margin-bottom: -5px;
  font-family: sans-serif, cursive;
  font-weight: 500;
  color: #fff;
}

.second-player {
  display: none;
}

button {
  outline: none;
  border: none;
}

.btn {
  outline: none;
  border: none;
  padding: 3px;
  display: block;
  width: 140px;
  height: 35px;
  font-size: 20px;
  margin: 45px auto;
  text-align: center;
  border-radius: 5px;
  font-weight: 800;
  background-color: rgb(222, 238, 220);
  color: #503f3f;
  transition: ease 0.2s;
  font-family: "Amatic SC", sans-serif, cursive;
}

.btn:hover {
  background-color: rgb(44, 150, 211);
  color: #f0eeee;
}

#reset {
  width: 120px;
  height: 30px;
}

#reset:hover {
  background-color: rgb(69, 156, 69);
  color: #f0eeee;
}

#main-menu {
  width: 100px;
  height: 28px;
  margin-top: -26px;
  font-size: 16px;
  border: 2px solid #fff;
}

#main-menu:hover {
  background-color: rgb(231, 48, 118);
  color: #f0eeee;
}

.won {
  background-color: #64cc87;
  color: #fff;
}
