body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("back.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

#container {
  width: 300px;
  height: 80%;
  margin: 50px auto;
  background-color: rgba(102, 104, 105, 0.5);
  box-shadow: 0 0 3px #fff;
  border-radius: 15px;
}

#container h1 {
  color: rgb(156, 198, 238);
  text-align: center;
  padding-top: 12px;
  font-size: 2rem;
  font-weight: 800;
}

#container h2 {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px;
  height: 30px;
}

#game {
  width: 250px;
  height: 250px;
  margin: 20px auto;
  background-color: rgba(138, 134, 134, 0.6);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  border: 2px solid rgba(138, 134, 134, 0.6);
}

.child {
  background-color: rgba(223, 223, 231, 0.6);
  height: 100%;
  width: 100%;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  color: rgba(116, 62, 62, 0.6);
}

button {
  outline: none;
  border: none;
}

#reset {
  padding: 5px;
  display: block;
  width: 120px;
  height: 30px;
  margin: 35px auto;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  background-color: rgb(167, 104, 104);
  color: #fff;
}

.won {
  background-color: #64cc87;
  color: #fff;
}
